@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #5d5d5d;
$green_color: #528524;
$blue_color: #003c72;
$background: #f1f1f1;
$border: #5d5d5d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Helvetica Regular';
	src: url(fonts/helr45w.ttf);
}

@font-face {
	font-family: 'Helvetica Bold';
	src: url(fonts/helr65w.ttf);
}

@font-face {
	font-family: 'Ubuntu Regular';
	src: url(fonts/Ubuntu-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 16px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* General */

.joinchat {
	bottom: 100px !important;
}

/* Go To */

.go_to {
	padding: 10px;
	top: 10%;
	left: 0;
	border-radius: 0;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	position: fixed;
	z-index: 2;
	&.green {
		background-color: $green_color;
	}
	&.blue {
		background-color: $blue_color;
	}
}

/* Top */

.top {
	.moduletable_to1 {
		padding: 30px 0;
		background: {
			image: url(moduletable_to1_bg.png);
			position: top right;
			repeat: no-repeat;
		}
	}
	.moduletable_to2 {
		background: {
			image: url(moduletable_to1_bg.png);
			position: top right;
			repeat: no-repeat;
		}
		.mega-menu-wrap {
			ul.mega-menu {
				li {
					&.mega-menu-item-295,
					&.mega-menu-item-1558 {
						width: 160px !important;
						a {
							background: {
								image: url(logo.svg) !important;
								position: center !important;
								repeat: no-repeat !important;
							}
							color: transparent !important;
						}
					}
					a {}
					ul.mega-sub-menu {
						li {
							&.column_1,
							&.column_2,
							&.column_3 {
								padding: 10px;
							}
							ul {
								ul {
									ul {
										li {
											&.mega-menu-item {
												a {
													font-size: 14px;
													&:before {
														content: '>>' !important;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.green {
		.moduletable_to2 {
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						ul.mega-sub-menu {
							li {
								&.column_1 {
									border-right: 1px solid $green_color !important;
								}
								&.column_3 {
									border-left: 1px solid $green_color !important;
								}
							}
						}
					}
				}
			}
		}
	}
	&.blue {
		.moduletable_to2 {
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						ul.mega-sub-menu {
							li {
								&.column_1 {
									border-right: 1px solid $blue_color !important;
								}
								&.column_3 {
									border-left: 1px solid $blue_color !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		a {
			color: #fff;
			display: inline-block;
			&.border_home {
				width: fit-content;
				margin-bottom: 15px;
				padding: 5px 10px;
				border: 1px solid #fff;
				font: {
					family: 'Helvetica Regular';
					size: 18px;
				}
				letter-spacing: 3px;
			}
			&.line_home {
				padding: 5px 0;
				border-bottom: 1px solid #fff;
				font: {
					family: 'Ubuntu Regular';
					size: 18px;
				}
				letter-spacing: 3px;
			}
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		&.title_home {
			font: {
				family: 'Helvetica Regular';
				size: 18px;
			}
			letter-spacing: 2px;
		}
	}
	h2 {
		font: {
			family: 'Helvetica Regular';
			size: 24px;
		}
		&.green {
			font-size: 18px;
			letter-spacing: 2px;
		}
	}
	h3 {
		margin: 0;
		background: {
			image: url(title_bg.png);
			position: center;
			repeat: no-repeat;
		}
		font: {
			family: 'Helvetica Regular';
			size: 18px;
		}
		letter-spacing: 2px;
		&.grey {
			margin-bottom: 10px;
			background: none;
			font-size: 18px;
		}
		&.green {
			margin-bottom: 10px;
			background: none;
			font-size: 14px;
		}
		&.no-bg {
			background-image: none;
		}
	}
	a {
		&.button {
			border-radius: 0;
		}
	}
	iframe {
		border: 0;
	}
	.text_home {
		padding: 10px;
		background: {
			image: url(text_home_bg.png);
			position: center;
			repeat: no-repeat;
		}
		font: {
			family: 'Helvetica Regular';
			size: 18px;
		}
		letter-spacing: 2px;
	}
	.title_page {
		padding: 60px 0;
		/*background: {
			image: url(title_page_bg.png);
			position: center;
			repeat: no-repeat;
			size: cover;
		}*/
		h1 {
			width: fit-content;
			margin: auto;
			padding: 10px;
			border: 1px solid #fff;
			font: {
				family: 'Helvetica Regular';
				size: 20px;
			}
			color: #fff;
			.no-line {
				
			}
		}
	}
	.image_hover {}
	.link_box {}
	.item {
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
		}
		&:hover {
			.item-overlay {
				top: 0;
			}
		}
		.item-content {
			height: 56px;
			margin-top: -56px;
			padding: 5px 10px;
			position: relative;
			z-index: 2;
			h4 {
				font-size: 14px;
				color: #fff;
				text-align: center;
			}
		}
		.item-overlay {
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow: hidden;
			position: absolute;
			z-index: 3;
			-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			top: 220px;
			h4 {
				padding: 20px 0;
				font-size: 14px;
				color: #fff;
				text-align: center;
			}
			p {
				padding: 0 0 20px 0;
				font-size: 14px;
				a {
					&.hollow.button {
						border: 1px solid #fff;
						border-radius: 0;
						color: #fff;
					}
				}
			}
		}
	}
	.gallery_container {
		p {
			margin: 0;
		}
		.bwg_container {
			margin: 0;
		}
	}
	.sow-tabs {
		display: inherit;
	}
	ul#menu-sector-agricola-menu,
	ul#menu-sector-pecuario-menu,
	ul#menu-proyecto-agricola-menu,
	ul#menu-proyecto-pecuario-menu,
	ul#menu-sector-infraestructura-menu,
	ul#menu-sector-minero-energetico-menu,
	ul#menu-proyecto-infraestructura-menu,
	ul#menu-proyecto-minero-energetico-menu {
		li {
			border-right: 1px solid $border;
			flex-grow: 1;
			&:last-child {
				border: 0;
			}
			a {
				padding: 0 10px;
				text: {
					align: center;
					transform: uppercase;
				}
			}
		}
	}
	.wpcf7-form {
		.form_fields {
			margin-bottom: 20px;
			padding: 20px;
			border: 1px solid $border;
			.row {
				margin-bottom: 20px;
				border-bottom: 1px solid $border;
				[type=text],
				[type=email],
				textarea {
					margin-bottom: 0;
					padding: 5px;
					border: 0;
					box-shadow: none;
				}
			}
		}
		.form_button {
			.button {
				width: 100%;
				margin-bottom: 0;
				background: transparent;
				border-radius: 0;
				text-transform: uppercase;
			}
		}
	}
	&.green {
		h2 {
			&.green {
				color: $green_color;
			}
		}
		h3 {
			&.green {
				color: $green_color;
			}
		}
		.item {
			.item-content {
				background-color: rgba(82, 133, 36, 0.95);
			}
			.item-overlay {
				background-color: rgba(82, 133, 36, 0.9);
			}
		}
	}
	&.blue {
		h2 {
			&.green {
				color: $blue_color;
			}
		}
		h3 {
			&.green {
				color: $blue_color;
			}
		}
		.item {
			.item-content {
				background-color: rgba(0, 60, 114, 0.95);
			}
			.item-overlay {
				background-color: rgba(0, 60, 114, 0.9);
			}
		}
	}
	&.green.special {
		h1 {
			margin: 20px 0;
			font: {
				family: 'Helvetica Regular';
				size: 18px;
			}
			color: $green_color;
			letter-spacing: 2px;
		}
		h2 {
			font: {
				family: 'Helvetica Regular';
				size: 18px;
			}
			color: $green_color;
			letter-spacing: 2px;
		}
		a {
			&.button {
				background-color: $green_color;
				color: #fff;
			}
		}
		.category_main {
			article {
				padding: 15px;
				border: 1px solid $border;
				a.button {
					margin: 0;
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
		&.green,
		&.blue {
			padding: 0;
		}
		&.green {
			a {
				&.button {
					background-color: $green_color;
					color: #fff;
				}
				&.hollow.button {
					background-color: transparent;
					border: 1px solid $green_color;
					color: $green_color;
				}
			}
			.link_box {
				padding: 10px 0;
				border: {
					top: 1px solid $green_color;
					bottom: 1px solid $green_color;
				}
				p {
					margin: 0;
				}
				a {
					font-size: 18px;
					color: $green_color;
				}
			}
			ul#menu-sector-agricola-menu,
			ul#menu-proyecto-agricola-menu {
				li {
					a {
						&:hover {
							color: green_color;
						}
					}
				}
			}
			.wpcf7-form {
				.form_button {
					border: 1px solid $green_color;
					.button {
						color: $green_color;
					}
				}
			}
		}
		&.blue {
			a {
				&.button {
					background-color: $blue_color;
					color: #fff;
				}
				&.hollow.button {
					background-color: transparent;
					border: 1px solid $blue_color;
					color: $blue_color;
				}
			}
			.wpcf7-form {
				.form_button {
					border: 1px solid $blue_color;
					.button {
						color: $blue_color;
					}
				}
			}
		}
	}
}

/* Block 1 - Solicite Información */

.block_1 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b11 {
		a {
			&.button {
				margin: 0;
				background-color: $green_color;
				border-radius: 0;
			}
		}
	}
}

/* Block 2 - Redes Sociales */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		p {
			margin: 0;
			a {
				margin: 0 10px;
				display: inline-block;
			}
		}
	}
}

/* Block 3 - Últimas Noticias */

.block_3 {
	.block_title {
		h3 {
			margin-bottom: 30px;
			background: {
				image: url(title_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				family: 'Helvetica Regular';
				size: 18px;
			}
			letter-spacing: 2px;
		}
	}
	.block_content {
		padding: 30px 0;
		background-color: $background;
		.moduletable_b31 {
			.wplp_outside {
				max-width: 1000px !important;
				margin: auto;
				ul.wplp_listposts {
					li {
						.insideframe {
							margin: 10px;
							.wpcu-front-box {
								background-color: #fff;
								&.top {
									.thumbnail {
										margin: 0;
										padding: 10px;
										border-radius: 0;
										box-shadow: none;
										.img_cropper {
											height: inherit !important;
										}
									}
									.title {
										margin: 0;
										padding: {
											top: 0;
											left: 10px;
											right: 10px;
											bottom: 10px;
										}
										max-width: 100%;
										font: {
											family: 'Helvetica Regular';
											size: 18px;
										}
										text-align: center;
									}
								}
								&.left,
								&.right {
									display: none;
								}
								&.bottom {
									padding: 0;
									.text {
										margin: 0;
										padding: {
											top: 0;
											left: 10px;
											right: 10px;
											bottom: 10px;
										}
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
			p {
				margin: 0;
				a.button {
					margin: 0;
					background-color: $green_color;
					border-radius: 0;
				}
			}
		}
	}
}

/* Block 4 - Nuestros Clientes */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		h3 {
			margin: 0px;
			background: {
				image: url(title_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				family: 'Helvetica Regular';
				size: 18px;
			}
			letter-spacing: 2px;
		}
	}
}

/* Block 5 - Solicite Su Cotización */

.block_5 {
	padding: 30px 0;
	background: {
		image: url(block_5_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b51 {
		a {
			&.button {
				margin: 0;
				background-color: transparent;
				border: 1px solid #fff;
				border-radius: 0;
			}
		}
	}
}

/* Block 6 - Bajo las Normas */

.block_6 {
	padding: 30px 0 0 0;
	.moduletable_b61 {
		h3 {
			margin: 0px;
			background: {
				image: url(title_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font: {
				family: 'Helvetica Regular';
				size: 18px;
			}
			letter-spacing: 2px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: #343a40;
	.moduletable_bo1 {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: #343a40;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Pago */

.moduletable_pa1 {
	padding: 2px 5px;
	top: 20%;
	right: 0;
	background-color: $green_color;
	border: 1px solid #fff;
	position: fixed;
	display: none;
	a.button {
		height: inherit;
		margin: 0;
		padding: 5px;
		background-color: transparent;
		color: #fff;
		line-height: inherit;
		text-transform: uppercase;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			background-image: none;
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						&.mega-menu-item-295,
						&.mega-menu-item-1558 {
							display: none !important;
						}
					}
				}
			}
		}
	}

	/* Pago */

	.moduletable_pa1 {
		display: none;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.hide {
	display: none;
}

.clear {
	clear: both;
}